.basket-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 30px;
  border-bottom: 1px solid #E8ECEC;
}

.basket-item:last-child {
  border-bottom: 0;
}

.basket-item .for--mob {
  display: none;
}

.basket-item__img {
  height: 100%;
  width: 18%;
  padding: 20px 30px;
}

.basket-item__img .bg {
  width: 100%;
  height: 100%;
  min-height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.basket-item__name {
  padding-top: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  width: 22%;
  color: #4F5050;
}

.basket-item__discount, .basket-item__price, .basket-item__weight, .basket-item__count, .basket-item__total {
  padding-top: 30px;
  font-size: 14px;
  line-height: 135%;
  color: #4F5050;
  text-align: center;
  width: 12%;
}

.basket-item__discount {
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
  color: #F74B4B;
}

.basket-item__price {
  text-align: center;
}

.basket-item__price .old {
  font-size: 13px;
  line-height: 135%;
  text-decoration-line: line-through;
  color: #A7A7A7;
  display: block;
}

.basket-item__price .new {
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
  color: #4F5050;
  display: block;
}

.basket-item__total .old {
  font-size: 13px;
  line-height: 135%;
  display: block;
  /* identical to box height, or 18px */
  text-decoration-line: line-through;
  color: #A7A7A7;
}

.basket-item__total .new {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
  /* identical to box height, or 19px */
  color: #F74B4B;
}

.basket-item-page {
  padding-right: 100px;
  position: relative;
}

.basket-items-list .basket-container__param ul {
  padding-right: 100px;
}

.basket-item__delet {
  width: 90px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
  justify-content: center;
}

.basket-item__delet .delete {
  width: 30px;
  height: 30px;
  border: 0;
  background: none;
  cursor: pointer;
}

.basket-item__delet .delete svg {
  fill: #454545;
  transition: .3s;
}

.basket-item__delet .delete:hover svg {
  fill: #a2a2a2;
}

.click-counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.click-counter button {
  border: 0;
  background: none;
  font-size: 20px;
  font-weight: 100;
  padding: 0 5px;
  color: #4F5050;
  font-weight: lighter;
}

.click-counter input {
  width: 40px;
  border: 0;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
  color: #4F5050;
}

.basket-item-mini__img {
  width: 100px;
  height: 100px;
}

.basket-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #F8FBFB;
  border: 1px solid #CFD5D5;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 40px;
  align-items: center;
}

.basket-header__promo {
  position: relative;
}

.basket-header__promo input[type='text'] {
  width: 100%;
  min-width: 380px;
  padding: 7px;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #ACACAC;
  background: none;
}

.basket-header__promo input[type='submit'] {
  position: absolute;
  right: 5px;
  top: 0px;
  width: 30px;
  height: 30px;
  background: none;
  border: 0;
  background-image: url(../images/svg/ar-red.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: .3s;
  cursor: pointer;
  border-radius: 50%;
  font-size: 0;
}

.basket-header__promo input[type='submit']:hover {
  right: 0px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #CBD3D3;
}

.basket-header__price-num {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.basket-header__price-num > span {
  font-size: 24px;
  line-height: 135%;
  color: #919393;
  min-width: 90px;
}

.basket-header__price-num .num .new {
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  color: #4F5050;
}

.basket-header__price-num .num .old {
  font-size: 14px;
  line-height: 135%;
  text-decoration-line: line-through;
  color: #919393;
}

.basket-header__price-econom {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 17px;
  color: #ED2939;
}

.basket-header__price-econom > span {
  min-width: 90px;
}

.basket-header__btn button:last-child {
  margin-left: 20px;
}

.basket-container {
  background: #FFFFFF;
  border: 1px solid #CFD5D5;
  border-radius: 4px;
  margin-bottom: 40px;
}

.basket-container__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  border-bottom: 1px solid #cfd5d5;
}

.basket-container__top * {
  line-height: 135%;
}

.basket-container__top span {
  font-weight: 600;
  font-size: 18px;
  color: #1F1F1F;
}

.basket-container__top a {
  font-size: 14px;
  text-decoration-line: underline;
  color: #F74B4B;
  width: 12%;
  text-align: center;
}

.basket-container__top a:hover {
  text-decoration: none;
}

.basket-container__param {
  padding: 12px 0;
  border-bottom: 1px solid #CFD5D5;
}

.basket-container__param ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 30px;
}

.basket-container__param ul li {
  font-size: 14px;
  text-align: center;
  line-height: 135%;
  color: #919393;
  width: 12%;
}

.basket-container__param ul li:nth-child(1) {
  width: 40%;
  padding-left: 30px;
  text-align: left;
}

/*# sourceMappingURL=basket.css.map */
