.company-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}

.company-header > div {
  width: 30%;
}

.company-header__logo img {
  width: 100%;
  margin-bottom: 30px;
}

.company-header__logo p {
  font-size: 27px;
  line-height: 150%;
  color: #000000;
}

.company-header__img {
  width: 36.66% !important;
}

.company-header__img img {
  width: 100%;
}

.company-header__list {
  padding-left: 30px;
}

.company-header__list li {
  padding-left: 70px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 40px;
  min-height: 60px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  display: flex;
  align-items: center;
}

.company-certificate {
  background-color: #F1F5F6;
  padding: 120px 0;
}

.company-certificate .container {
  display: flex;
  align-items: center;
}

.company-certificate__zag {
  width: 500px;
}

.company-certificate__zag span {
  font-size: 26px;
  line-height: 169%;
  color: #F74B4B;
  margin-bottom: 16px;
  display: block;
}

.company-certificate__zag li {
  margin-bottom: 34px;
  font-weight: bold;
  font-size: 70px;
  line-height: 53px;
  color: #CACFD0;
}

.company-certificate__slide {
  width: calc(100% - 500px);
}

.company-certificate__slide .certificate-gallery__container a {
  height: 300px;
}

.company-certificate__slide .certificate-gallery__container a img {
  width: auto;
  max-height: 100%;
}

.company-certificate__slide .certificate-gallery__container::before {
  background: linear-gradient(to right, #f1f5f6 0%, #f1f5f6 20%, rgba(255, 255, 255, 0) 100%);
}

.company-certificate__slide .certificate-gallery__container::after {
  background: linear-gradient(to left, #f1f5f6 0%, #f1f5f6 20%, rgba(255, 255, 255, 0) 100%);
}

.company-text {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 30px;
}

.company-text img {
  border-radius: 15px;
  margin-bottom: 30px;
}

.company-text p {
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #414141;
  margin-bottom: 20px;
}

.company-text p a {
  font-weight: 600;
  text-decoration: underline;
}

.company-text .h3 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}

.company-text__main {
  width: 61%;
}

.company-text__right {
  width: calc(39% - 35px);
}

.company-text__right .h3 {
  color: #E63728;
}

.company-contact {
  padding: 70px 0;
}

.company-contact .h2 {
  font-size: 36px;
  line-height: 122%;
  text-align: center;
  color: #232323;
  margin-bottom: 60px;
}

.company-contact__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-contact__list-finance {
  width: 33.33%;
}

.company-contact__list-finance li {
  font-size: 16px;
  line-height: 156%;
  color: #000000;
  margin-bottom: 5px;
}

.company-contact__list-info {
  width: 66.66%;
}

.company-contact__list-info ul {
  display: flex;
  flex-wrap: wrap;
}

.company-contact__list-info li {
  font-size: 16px;
  line-height: 156%;
  letter-spacing: -0.02em;
  color: #363636;
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-left: 65px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 40px;
  width: 50%;
}

.company-contact__list-info li .red {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #EF4949;
  margin-bottom: 5px;
}

.company-brands .brands {
  background-color: #fff;
}

/*# sourceMappingURL=company.css.map */
