.compare {
  padding-bottom: 80px;
}

.compare__container {
  display: flex;
  flex-wrap: wrap;
}

.compare-info {
  width: 330px;
  position: relative;
}

.compare-info__fixed {
  height: 525px;
  width: 100%;
  padding-top: 93px;
}

.compare-info__fixed .text-accordion__info {
  width: 290px;
}

.compare-info__fixed .text-accordion__info::before {
  content: none;
}

.compare-info ul li {
  position: relative;
  z-index: 30;
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: #4F5050;
  padding: 12px 20px;
  border-bottom: 1px solid #D8DFE2;
  border-top: 1px solid transparent;
  margin: -1px;
  height: auto;
}

.compare-info ul li:nth-child(1) {
  border-top: 1px solid transparent;
}

.compare-items {
  width: calc(100% - 330px);
}

.compare-items__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.compare-items__links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.compare-items__links a {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.2;
}

.compare-items__links a .icon {
  margin-left: 15px;
  transition: .3s;
  width: 25px;
  height: 25px;
}

.compare-items__links .sbmt--red .icon {
  fill: #fff;
}

.compare-items__links .sbmt--red:hover .icon {
  fill: #EF4949;
}

.compare-items__links .btn--gray .icon {
  fill: #546062;
}

.compare-items__links .btn--gray:hover .icon {
  fill: #fff;
}

.compare-item {
  border: 1px solid #CFD5D5;
  margin-left: -1px;
  width: 50%;
  max-width: 535px;
  position: relative;
  float: left;
}

.compare-item .delete {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url(../images/svg/close-red.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99;
}

.compare-item__img {
  padding: 20px;
  height: 250px;
  width: 100%;
  position: relative;
}

.compare-item__img .bg {
  position: absolute;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.compare-item__text {
  background-color: #F8FBFB;
  padding: 9px 20px;
  width: 100%;
}

.compare-item__info {
  background-color: #F8FBFB;
  width: 100%;
}

.compare-item__info ul li {
  border: 1px solid #D8DFE2;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 135%;
  color: #4F5050;
  margin: -1px;
  position: relative;
  z-index: 1;
  height: auto;
  background-position: 20px 15px;
  background-repeat: no-repeat;
}

.compare-item__info ul .superior {
  border: 1px solid #FFA782;
  background-color: #fff;
  z-index: 30;
}

.compare-item__info ul .yes {
  background-image: url(../images/close-red.svg);
  padding-left: 60px;
}

.compare-item__info ul .no {
  background-image: url(../images/check-green.svg);
  padding-left: 60px;
}

.compare-item__info-link {
  display: flex;
  justify-content: center;
  padding: 25px 10px;
}

.compare-item__info-link a {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.2;
}

.compare-item__info-link a .icon {
  margin-left: 15px;
  fill: #EF4949;
  transition: .3s;
  width: 25px;
  height: 25px;
}

.compare-item__info-link a:hover .icon {
  fill: #fff;
}

.compare-item__type {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #000000;
  margin-bottom: 10px;
}

.compare-item__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #333131;
  margin-bottom: 15px;
  height: 60px;
}

.compare-item__price {
  font-weight: 600;
  font-size: 19px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 38px;
}

.compare-items__container.child-3 .compare-item {
  width: 33.33%;
}

.compare-items__container {
  overflow-x: auto;
  position: relative;
  padding-bottom: 50px;
}

.compare-items__container .mCustomScrollBox {
  width: 100%;
}

.compare-items__container .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 0;
}

.compare-items__container .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  z-index: 50;
  opacity: 1;
  position: fixed;
  bottom: 16px;
  top: auto;
  left: auto;
}

.compare-items__container .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f2f2f2;
  height: 30px;
  width: calc(100% - 2px);
  box-sizing: content-box;
}

.compare-items__container .mCSB_scrollTools.nofixed .mCSB_draggerRail {
  margin-left: 1px;
}

.compare-items__container .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #bbbbbb !important;
  height: 20px;
  margin: 7.5px;
}

.compare-items__container .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #a09f9f !important;
}

.compare-items__container .mCSB_scrollTools .mCSB_draggerRail,
.compare-items__container .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  border-radius: 0;
}

.compare-items__container .scroll--active {
  padding-bottom: 30px;
  width: 100%;
}

.compare-items__container .compare-item {
  display: flex;
  flex-wrap: wrap;
}

.compare-items__container .compare-item:nth-child(1) {
  margin-left: 1px;
}

.compare-items__container #mCSB_1_scrollbar_horizontal.nofixed {
  position: absolute;
  bottom: 20px;
  right: 2px !important;
  width: calc(100% - 2px) !important;
}

.compare-items__container.scroll::before, .compare-items__container.scroll::after {
  width: 1px;
  height: calc(100% - 80px);
  background-color: #fff;
  position: absolute;
  top: 0;
  content: '';
  z-index: 20;
}

.compare-items__container.scroll::before {
  left: 0;
  border-right: 1px solid #cfd5d5;
}

.compare-items__container.scroll::after {
  right: 0;
  border-left: 1px solid #cfd5d5;
}

.compare-items__container.scroll .compare-item {
  width: 357px;
}

/*# sourceMappingURL=compare.css.map */
